
body{
    font-family: 'Times New Roman', Times, serif;
    
}
.container{
    width: 960px;
    height: 500px;
    background-color:white;
    border: 2px solid black;
    margin: 0 auto;

}

.header {
height: 70px;
width: 100%;
position: relative;
background-image: url(../img/nen_header.jpg);

}
#logo{
    height: 60px;
    width: 60px;
    position: absolute;
    top: 7px;
    left: 7px;
}
h2 {
    position: absolute;
    left: 74px;
    color: brown;
    top: 17px;

}
h4{
    position: absolute;
    left: 74px;
    color: blue;
    top:  2px;
}
.mininav  ul {
    position: absolute;
    left:  655px;
    bottom: 30px;
    list-style: none;
    overflow: hidden;

}
.mininav li{
    float: left;
    margin-right: 3px;
    border-right: 1px solid black;

}
   .mininav a{
    display: block;
    text-decoration: none;
    padding: 1px;

   }
   .mininav :last-child{
    border-right: none;
   }
   .searchbar{
    position: absolute;
    left:  700px;
    bottom: 13px;
    border: 1px solid red;
    background-color:  none;
    display: flex;
   }
   .txttimkiem{
    border: none;}
   .searchbar a {
    margin: 0px;
   }
   .navbar{
    height: 55px;
    width: 100%;
    background-color: orange;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
 
}
.navbar ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    padding-top: 20px;
}
.navbar li{
    float: left;
    margin-left: 30px;
}
.navbar li a {
    display: block;
    text-decoration: none;
}
.navbar ul li a{
    color: white;}
.navbar ul li a:hover{
    color: red;
}
.searchbar{
    border-radius: 1px  ;
}
#nha{
    position: absolute;
    top: 5px;
    left: 0px;
}

.section {
    height: 300px;
    width: 60%;
    float:left;
    border-radius: 10px;
    background-color:antiquewhite;
}
    .aside {
        height: 300px;
        width: 40%;
       float:left;
       border-radius: 10px;
       background-color:antiquewhite;
    }
        #title{
            margin-left: 20px
            ;
        }